.signui-button {
  border: none;
  color: blue;
  /* background-color: rgb(250, 250, 250); */
  background-color: inherit;
  font-size: 14px;
}

.signui-button:hover {
  cursor: pointer;
  text-decoration: underline;
}

.contain-login {
  padding-top: 15px;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 50px;
  background-color: lightcyan;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 25px;
  /* border: 1px solid black; */
  border-radius: 25px;
  box-shadow: 0 2px 6px rgb(104, 104, 104);
}

.socialui-button {
  border: none;
  background-color: inherit;
  margin-top: 10px;
  margin-left: 15px;
  color: black;
  font-size: 15px;
  padding: 10px;
}

.socialui-button:hover {
  cursor: pointer;
  /* color: blue; */
  /* text-decoration: underline; */
  background-color: rgb(171, 247, 247);
  border-radius: 5px;
}
