.historySection {
  /* display: flex; */
  border: solid 1px;
  width: 70%;
  margin-left: 10%;
  margin-bottom: 20px;
}

/* .historyText {
  flex:.8;
} */

.historyButtons {
  display: flex;
  flex-direction: column;
  flex: 0.2;
  /* float: right; */
  width: fit-content;
}

.edit {
  margin: 5px;
}

.delete {
  margin: 5px;
}
